.modal-header {
    background-color: #246741;
    color: white;
}

.difficulty-btn {
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}

.difficulty-btn:hover {
    background-color: #246741;
    color:white;
}

.difficulty-btn.selected {
    background-color: #246741;
    color: white;
}

.level {
    font-size: small;
}

.box {
    background-color: white;
    min-height: 50px;
    border-radius: 0px 0px 10px 10px;
    padding: 0.5rem;
}
.box-list{
    margin-bottom: 0.5rem;
}

.contenedor{
    margin: 2rem !important;
}

.notificacion {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.notificacion.mostrar {
    display: block;
    opacity: 1;
}


/*Para mecanografia*/

@media (max-width: 480px) {
    #mecaBtn {
        background-color: gray;
        cursor: not-allowed;
    }

    #mecaLink {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.toast-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e63946;
    color: white;
    padding: 12px 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size:small;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 9999;
}

.toast-message.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .hd-sec-gm{
        gap:0 !important;
    }
    .hd-sec-gm h5{
        font-size: 18px !important;
    }

     .hd-sec-gm-v2{
        gap:5px !important;
        flex-direction: column !important;
        align-items: center;
     }

      .hd-sec-gm-v3 h5, .hd-sec-gm-v2 h5{
        font-size: 16px !important;
     }
      .hd-sec-gm-v3{
        flex-direction: column !important;
        gap:0 !important;
         align-items: center;
     }
     .hd-sec-gm-v3 .timer, .hd-sec-gm-v2 .timer {
        display: flex;
        flex-direction: row;
     }
     .v2{
        flex-direction: column-reverse !important;
     }

     .carta-celda{
        max-width: 200px !important;
     }
     #carta{
            justify-items: stretch !important;
     }
     #mazo-actual{
        max-height: 400px !important;
     }
     #planta-actual{
        max-width: 40% !important;
     }
     .cont-lot{
        flex-direction: column-reverse;
     }
     .fl-responsive{
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
     }

     .card {
        width: auto !important;
     }
}

.timer{
    display: flex;
    flex-direction: row;
}